.button{
    height: 40px;
    padding: 10px 24px;
    background-color: var(--color-primary);
    font-size: var(--font-size-default);
    line-height: 22px;
    border-radius: var(--border-radius-default);
    color: var(--color-white);
    text-decoration: none;
    border: none;
}

.button--large {
    height: 60px;
}