.button{
    height: 40px;
    padding: 10px 24px;
    background-color: #F41B3B;
    font-size: 16px;
    line-height: 22px;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    border: none;
}

.button--large {
    height: 60px;
}