.input {
    height: 60px;
    width: 360px;
    padding: 16px 24px;
    background:#ffffff;
    border-radius:3px;
    border: none;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}
/*estilizacao de pseudo elementos
pseudo elementos sao coisas elementos que nao escrevemos*/
.input::placeholder{
    color:#807E81;
}